<<<<<<< HEAD
*
{
    display:block;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

body{
    max-width: 1400px;
}

/* header */

.logo_mobile{
    padding: 0vh 9vw;
}

.header_data{
    display: flex;
    margin-left: 9vw   ;
    margin-top:  4vh;
}

.logo_data{

    display: flex;

    margin-right: 6vh;
    margin-top: 11vh;
    
}

.logo_text{
    margin-left: 2vh;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
}

.header_head{
    display: block;
    float: left;
    
}

.header_h1{

    width: 8em;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 101.38%;

    margin-left: 9vw;
    margin-top: 3rem;
}

.h1_text{
    
    width: 31vw;
    height: 15vh;
    margin-left: 9vw;
    margin-top: 2vh;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}

.img_noroot{
    margin-left: 20vh;
}

.header_noroot{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rectangle{

    display: flex;
    margin-left: 30vw;

    background-color: #1E4681;
    width: 78vh;
    height: 30vh;
    border-radius: 5px;
    margin-top: 7em;

}

.rectangle_text{

    padding: 2vh 3vh;

    height: 15vh;
    
    font-weight: 400;
    color: #FFFFFF;
    font-family: Roboto Slab;
    font-size: 25px;
    line-height: 130%;

    

}

.text_blue{
    
    font-weight: 400;    
    text-align: left;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;

}

.blue_name{

    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: right;

}

/* /header */

/* about_kurs */

.about_kurs{
    margin: 28vh 0vh 0vh 20vh;
}


.wrapper {
    display: flex;
    width: 100%;
}

.wrapper_text{
    padding-top: 7vh;
}

.one,.two{
    justify-content: space-between;
    width: 60%;
    text-align: left;
}


.h1_about_kurs{
    
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
}

p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}

.two{

    display: block;
    margin-top: 13vh;
    margin-left: 8vh;
    margin-right: auto;
    width: 40vh;
    height: 30vh;
}

.footer_about_kurs{
    display: flex;
    padding: 9vh 10vh 20vh 0;
}



.my_text{
    display: flex;
    justify-content: space-between;

}

.about_asite{
    display: flex;
    margin-top: 7vh;
    margin-left: 14vh;
    justify-content: space-between;
}

.text{
    width: 10em;
    height: 5vh;
    
    margin-right: 9vh;

}

.number {
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    }

.text_number{
    margin-top: 1vh;
    font-size: 18px;
    line-height: 130%;
}

/* /about_kurs */

/* how_we_learn */

.how_we_learn{
    margin-left: 13vh;
}

.h1_learn{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;   
}

.learn_text{
    display: flex;
    justify-content: space-between;
    width: 80% ;
    margin-top: 14vh;
}




.we_learn_text{

    text-align: left ;
    width: 40vh;
    height: 20vh;   

}

.we_learn {
    color: #1E4681;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    }

.text_learn{
    font-size: 18px;
    line-height: 130%;
    width: 30vh;
}



/* /how_we_learn */

/* will_know */

.will_know{
 margin-top: 16vh;
 margin-left: 13vh;
}

.h1_will_know{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
}

.will_know_text{

    margin-top: 6vh;
    width: 60%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}

/* /will_know */

/* program_kurs */

.program_kurs{
    display: flex;
    width: 100%;
}

.h1_program_kurs{
    margin-top: 25vh;
    margin-left: 14vh;


    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
}
/* first */
.kurs_first {
    display: flex;
    justify-content: space-between;
    margin-top: 14vh;
    margin-left: 10vh;
}
/* second */
.kurs_second{
    display: flex;
    justify-content: space-between;
    margin-top: 14vh;
    margin-left: 10vh;
}
/* third */
.kurs_third{
    display: flex;
    justify-content: space-between;
    margin-top: 14vh;
    margin-left: 10vh;
}

/* /program_kurs */

/* our_students */

.our_students{
    display: block;
    background: #EFEFEF;
    margin-top: 50vh;

}

.h1_our_students {
    margin-left: 19vh;
    margin-top: 8vh;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
}

.about_our_students{
    display: block;
    width: 58vw;
    height: 72vh;
    margin-top: 10vh;
    margin-left: 20vh;

    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}


.student_text{

    padding-top: 4vh;
    padding-left: 4vw;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}













=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@300;400;500;700&display=swap');
body{
       font-family: Roboto;
}
header{
    width: 352.75px;
}
.wrapper{
    width: 374.75px;
    height: 4523.47px;
    border: 3px solid #000000; 
}
.title-img{
    width: 52px;
    height: 31px;
    margin-left: 35px;
    margin-top: 30px;
}

img.logo{
    Width: 52,19px;
    Height: 30,75px;
    margin-top: -21px;
    margin-left: -18px;
}
.menu ul li{
    display: inline-block;
    font-size: 10px;
      
}
.menu ul li img{
    padding-right: 5px;
}
.sub-title{
    display: block;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.pic{
    display: block;
    width: 185px;
    height: 75px;
}
.border-radius{
    height: 152.84px;
    width: 185.92px;
    border-radius: 6.99px 6.99px;
    border: 1px solid green;
    margin-bottom: 24.16px;
    margin-left: 96px;;
}
footer{
    background-color: #000000;
}
footer ps{
    color: white;
}
.title-img{
    margin-top: 36px;
    margin-left: 35px;
}
ul{
    margin-left: -35px;
}


div.menu li{
    margin-left: 15px;
    margin-top: -7px;
}

h1{
    font-family: Roboto Slab;
    font-size: 37px;
    font-weight: 700;
    margin-left: 36px;
    margin-top: 24px;
}
//доделать
.menu ul li{
    margin-left: 4px;
    margin-top: -1px;
    padding-top: -4px;
}
.sub-title{
    width: 212px;
    height: 28.96px;
    font-size: 10px;
    margin-left: 35.74px;
}
.first-pic{
   position: relative;
   left: 165.26px;
}
.blue-p{
    background-color: #1E4681;
    color: white;
    width: 225.26px;
    height: 93.19px;
    border-radius: 2.33px;
    border: 1px solid #1E4681;
    margin-left: 38px;
}
.blue-p p{
    font-size: 11px;
    font-weight: 400;
    padding-top: -9px;
    padding-left: 12.13px;
}
.blue-p span{
    font-size: 10px;
    padding-left: 87.07px;
    font-family: Roboto;
}
h2:first-child{
    font-size: 26px;
    font-weight: 700;
    margin-left: 36px;
}
article p:nth-child(2){
    font-size: 13px;
    font-weight: 400;
    margin-left: 36px;
    width: 308.47px;
    height: 174.27px;
}
.with-cameras{
    margin-left: 101px;
}
h3.title-reason{
    font-size: 12px;
    font-weight: 700;
    margin-left: 35px;
}
.p-reason{
    font-size: 10px;
}
.p-reason{
    display: block;
    margin-left: 35px;
}
h2{
    font-size: 26px;
    margin-left: 26px;
    padding-top: 35px;
}
.format{
    color: #1E4681;
    font-size: 14px;
    font-weight: 700;
    margin-left: 35px;
}
/*необходимо уменьшить отступ сверху*/
.format-desc{
    display: block;
    font-size: 10px;
    font-weight: 400;
    margin-left: 35px;
    width: 185px;
    height: 51px;
    padding-top: -5px;
}
>>>>>>> b75032815bfe5ba1b21b70c2d80d6806d4c8484e
